@font-face {
    font-family: 'Syne';
    src: url('../fonts/Syne-Medium.woff2') format('woff2'),
        url('../fonts/Syne-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('../fonts/Syne-Regular.woff2') format('woff2'),
        url('../fonts/Syne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('../fonts/Syne-Bold.woff2') format('woff2'),
        url('../fonts/Syne-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('../fonts/Syne-ExtraBold.woff2') format('woff2'),
        url('../fonts/Syne-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('../fonts/Syne-SemiBold.woff2') format('woff2'),
        url('../fonts/Syne-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'Syne' !important;
}

.wallet-adapter-modal{
    pointer-events: auto;
}
.font-roboto-condensed{font-family: unset !important;}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 9999px;
    background: #F1F5F9;
    border: 3px solid #0F172A;
    
  }
  
  input[type='range']::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 9999px;
    background: white;
    border: 3px solid #0F172A;
  }

  :where(.css-dev-only-do-not-override-1d4w9r2).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover{
    color: unset;
    border-color: unset;
    background: unset;
  }
  .dark :where(.css-dev-only-do-not-override-1d4w9r2).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover{
    color:#ffff;
    border-color: 1px solid #ffff;
    background: unset;
  }